
.root {
    -fx-background-color: #f4f4f4;
    -fx-font-family: "Segoe UI", sans-serif;
}


.top-bar {
    -fx-background-color: #ffffff;
    -fx-padding: 10px;
    -fx-spacing: 15px;
    -fx-alignment: center-left;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 1 0;
}

.button {
    -fx-background-color: #007ACC;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 8px 15px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #005999;
}

.text-field {
    -fx-pref-width: 150px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.task-table {
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: #dddddd;
}
.table-column-header {
    -fx-background-color: #eeeeee;
    -fx-font-weight: bold;
}

/* Default search container style */
.search-container {
    -fx-border-width: 2px;
    -fx-border-color: #333333;
    -fx-border-radius: 6px;
    -fx-padding: 5px 10px;
    -fx-background-color: white;
}

/* Image inside the Search Box */
.search-container .image-view {
    -fx-fit-width: 17px;
    -fx-fit-height: 17px;
}
.logout-button{
    -fx-background-color: #EC9C9D;
    -fx-text-fill: #333333;
}
.logout-button:hover{
    -fx-background-color: #F3BABB;
}
/* Remove Default Border from TextField */
.search-field {
    -fx-border-width: 0;
    -fx-background-color: transparent;  /* Removes extra background */
    -fx-padding: 5px;  /* Ensures proper vertical alignment */
    -fx-font-size: 16px;
    -fx-min-width: 220px;

}
