.root {
    -fx-font-family: "Inter", sans-serif;
}

.logo-container{
    -fx-padding: 20px;
    -fx-background-radius: 12px;
}

.login-container{
    -fx-background-color: white;
    -fx-padding: 38px 18px;
    -fx-background-radius: 12px;

    /* Subtle drop shadow example */
    -fx-effect: dropshadow(
            three-pass-box,       /* or "gaussian" */
            rgba(0, 0, 0, 0.15),  /* color and opacity of the shadow */
            10,                   /* radius (blur) */
            0.0,                  /* spread (0 - no spread, 1 - maximum spread) */
            0,                    /* offsetX (horizontal shift) */
            2                     /* offsetY (vertical shift) */
    );
}

.label {
    -fx-font-size: 28px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-pref-width: 300px;
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #007ACC;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #005999;
}

.error-label {
    -fx-background-color: #ffcccc;
    -fx-text-fill: #a00;
    -fx-padding: 10px;
    -fx-border-color: #a00;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.title-label {
    -fx-font-family: "Inter 28pt Medium";
    -fx-font-size: 28px;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-text-fill: #333333;
}

.short-text-field {
    -fx-pref-width: 300px; /* Set a fixed width */
    -fx-max-width: 300px;  /* Prevent resizing */
    -fx-min-width: 300px;  /* Prevent resizing */
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 16px;
}
